
@font-face {
    font-family: AC-Compacta;
    src: url(../fonts/AC-Compacta.ttf);
}

@font-face {
    font-family: Halo3;
    src: url(../fonts/halo3.regular.ttf);
}

@font-face {
    font-family: Ravenna;
    src: url(../fonts/Ravenna.ttf);
}

#LastOfUs{
    font-family: AC-Compacta;
}


#Zelda{

    font-family: Ravenna;


}


#Halo{
    font-family: Halo3;

}